@import url(fonts.css);

/* RESET START */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, canvas {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* RESET END */

* {
  margin: 0;
  
}

*::selection{ background-color: transparent;}
*::moz-selection{ background-color: transparent;}
*::webkit-selection{ background-color: transparent;}

body {
  background: #505050;
  font-family: 'Josefin Slab', 'serif';
}

canvas {
  display: none;
}

div#game-background {
  width: 680px;
  height: 440px;
  margin: 100px auto;
  background: #4AB3E7;
  display: block;
}

div#game-menu {
  width: 100%;
  height: 100%;
}

div#game-menu ul#difficulty {
  position: relative;
  top: 400px;
/*  width: 100%;
  overflow: hidden;*/
  height: 40px;
  list-style-type: none;
  text-align: center;
}

div#game-menu ul#difficulty > li {
  display: block;
  width: 25%;
  margin: 10px auto;
  padding: 0;
  color: #559CFA;
  float: left;
  font-size: 18px;
  text-transform: uppercase;
}

div#game-menu ul#difficulty > li:hover {
  color: #CBDDF5;
  cursor: pointer;
}

div#game-menu ul#difficulty > li.active {
  color: white;
}
